* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    text-decoration: none;
    font-family: var(--font);
}

html {
    font-size: 62.5%;
}

:root {
    /* Fonts */
    --font: "Poppins", sans-serif;

    --font-headline-1-size: clamp(6.0rem, 2vw + 1rem, 3.2rem);
    --font-headline-1-weight: 700;

    --font-headline-2-size: clamp(2rem, 1.5vw + 1rem, 2.4rem);
    --font-headline-2-weight: 700;

    --font-headline-3-size: clamp(1.8rem, 1vw + 1rem, 2rem);
    --font-headline-3-weight: 700;

    --font-subtitle-size: clamp(1.2rem, 0.7vw + 0.6rem, 1.4rem);
    --font-subtitle-weight: 500;

    --font-body-size: clamp(1.4rem, 0.8vw + 0.8rem, 1.6rem);
    --font-body-weight: 400;

    --font-button-size: clamp(1.2rem, 0.8vw + 0.8rem, 1.4rem);
    --font-button-weight: 600;

    --font-caption-size: clamp(1rem, 0.5vw + 0.5rem, 1.2rem);
    --font-caption-weight: 400;

    /* Colors */
    --color-white: #FFFFFF;
    --color-gray-datails: #C9C9C9;
    --color-grey: #8B8B8B;
    --color-grey-blue: #9198A1;
    --color-ultra-grey-blue: #3D444D;

    --color-ultra-black: #000000;
    --color-black-blue: #0D1117;
    --color-nice-black: #101010;
    --color-grey-black: #212121;

    --color-green-lantern: #39D353;
    --color-green-lantern-dark: #26A641;

    --color-brown: #88453E;
    --color-chocolate-brown: #955049;
    --color-salmon-to-the-point: #A25B53;
    --color-raw-salmon: #C4847C;
}

h1 {
    color: var(--color-ultra-black);
    font-size: var(--font-headline-1-size);
    font-weight: var(--font-headline-1-weight);
}

h2 {
    color: var(--color-ultra-black);
    font-size: var(--font-headline-2-size);
    font-weight: var(--font-headline-2-weight);
}

h3 {
    color: var(--color-ultra-black);
    font-size: var(--font-headline-3-size);
    font-weight: var(--font-headline-3-weight);
}

p {
    color: var(--color-ultra-black);
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
}

.btn-default {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 8px 24px;
    border-radius: 8px;

    background-color: var(--color-nice-black);
    color: var(--color-white);
    font-size: var(--font-button-size);
    font-weight: var(--font-button-weight);

    cursor: pointer;
}