body {
    background-color: var(--color-white);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px;
    background-color: var(--color-white);
}

.logo-portifolio-header {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.logo-portifolio-header p {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
}

.logo-portifolio-header img {
    height: 46px;
}

.nav-bar-header > nav {
    display: flex;
    gap: 100px;
}

.nav-bar-header > nav > a {
    font-size: var(--font-subtitle-size);
    font-weight: var(--font-subtitle-weight);
    color: var(--color-grey-black);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    margin: 50px 0px;

    .content-main {
        display: flex;
        flex-direction: column;
        gap: 80px;
        width: 50%;
        
        .text-content-main {
            display: flex;
            flex-direction: column;
            gap: 60px;

            h1 {
                width: 100%;
                
                span {
                    color: var(--color-brown);
                }
            }
        }

        .group-social-link-main {
            display: flex;
            gap: 40px;

            a {
                display: flex;
                justify-content: center;
                padding: 10px;
                border-radius: 8px;
                width: 60px;
                height: 60px;
                background-color: var(--color-ultra-black);

                img {
                    width: 100%;
                }
            }
        }
    }

    img {
        width: clamp(10%, 50vh, 30%);
    }
}

.section-my-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin: 50px 90px;

    h2 {
        color: var(--color-brown);
    }

    .container-cards-skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 36px;

        .card-skills {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;

            padding: 38px 40px;
            border-radius: 10px;

            box-shadow: 2px 2px 6px var(--color-effect-box-shadow);

            .header-card-skills {
                display: flex;
                align-items: center;
                gap: 30px;

                h2 {
                    color: var(--color-grey-black);
                }

                .logo-card-skills {
                    /* width: 20rem; */
                    display: flex;
                    align-items: center;
    
                    background-color: var(--color-grey-black);
                    padding: 24px;
                    border-radius: 100%;
    
                    img {
                        width: 30px;
                        height: auto;
                    }
                }
            }

            .content-card {
                display: flex;
                flex-direction: column;
                gap: 30px;


                .group-tech-skills {
                    display: flex;
                    gap: 60px;
                }
            }
        }
    }
}

.section-my-training {
    padding: 40px 0px;
    position: relative;
    
    max-width: 100%;
    margin: 0 auto;

    background-color: var(--color-nice-black);
    
    h2 {
        text-align: center;
        color: var(--color-white);
        padding-bottom: 30px;
    }

    .arrow-left,
    .arrow-right {
        position: absolute;
        left: 0;
        top: 0;
        right: auto;
        bottom: 0;
        font-size: 50px;
        line-height: 250px;
        text-align: center;
        color: var(--color-white);
        cursor: pointer;
        border: none;
        background: none;
        opacity: 0;
    }

     .arrow-right {
        position: absolute;
        left: auto;
        right: 0;
    }

    .gallery-wrapper-training {
        overflow-x: auto;
    }

    .gallery-wrapper-training::-webkit-scrollbar {
        display: none;
    }

    .gallery-training {
        display: flex;
        flex-flow: row nowrap;
        gap: 48px;
    }

    .card-course {
        background-color: var(--color-grey-black);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        padding: 40px;
        border-radius: 10px;   

        flex: 0 0 900px;
        
        .header-card-course {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
              color: var(--color-grey);
              font-size: var(--font-subtitle-size);  
              font-weight: var(--font-subtitle-weight);
            }

            .logo-header-card {
                display: flex;
                gap: 48px;
                align-items: center;

                .logo-title-card {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    
                    p, h3 {
                        color: var(--color-white);
                    }
                }
            }

        }

        .content-card-course {
            p {
                color: var(--color-white);
            }
        }
    }
}