body {
    background-color: var(--color-white);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px;
    background-color: var(--color-white);
}

.logo-portifolio-header {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.logo-portifolio-header p {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
}

.logo-portifolio-header img {
    height: 46px;
}

.nav-bar-header > nav {
    display: flex;
    gap: 100px;
}

.nav-bar-header > nav > a {
    font-size: var(--font-subtitle-size);
    font-weight: var(--font-subtitle-weight);
    color: var(--color-grey-black);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    margin: 50px 0px;

    .content-main {
        display: flex;
        flex-direction: column;
        gap: 80px;
        width: 50%;
        
        .text-content-main {
            display: flex;
            flex-direction: column;
            gap: 60px;

            h1 {
                width: 100%;
                
                span {
                    color: var(--color-brown);
                }
            }
        }

        .group-social-link-main {
            display: flex;
            gap: 40px;

            a {
                display: flex;
                justify-content: center;
                padding: 10px;
                border-radius: 8px;
                width: 60px;
                height: 60px;
                background-color: var(--color-ultra-black);

                img {
                    width: 100%;
                }
            }
        }
    }

    img {
        width: clamp(10%, 50vh, 30%);
    }
}

.section-my-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    h2 {
        color: var(--color-brown);
    }

    .container-skills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 200px;
        row-gap: 100px;

        .card-skill {      
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 37px 50px;
            border: var(--color-nice-black) solid 4px;
            border-radius: 10px;

            cursor: pointer;

            img {
                width: 70%;
            }
            
        }


    }
}